.location-page
{
    height:90vh;
}
.location-list
{
    height:90vh;
    overflow:auto;
}
.location-city-title
{
    color:yellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:4vw;
}
.location-city-list
{
    background-color:transparent;
    border:none;
    color:blue;
    font-family:verdana;
    font-size:3vw;
    cursor:pointer
}
.location-city-list:hover
{
    color:aqua;
}
.location-movie
{
    background-color:transparent;
    border:none;
    color:black;
    width:20vw;
}
.location-times
{
    background-color:transparent;
    border:none;
    color:grey;
    width:30vw;
}

.location-button
{
    background-color:pink;
    border:2px solid purple;
    border-radius:5px;
    color:purple;
    cursor:pointer;
}
.location-button:hover
{
    border-color:pink;
    background-color:purple;
    color:pink;
}

.location-movie-details
{
    width:40%;
}

.location-time
{
    border:none;
    background-color:maroon;
    border-radius:5px;
    color:skyblue;
    margin:0.5vw;
    width:7vw;
    cursor:pointer;
}
.location-time:hover
{
    background-color:crimson;
}